main{
    width: 75%;
    margin: auto;
    text-align: center;
}

.esquerda{
    float: left;
    margin-bottom: 1%;
}

form{
    text-align: left;
}

.cadastro-cliente{
    background-color:#ffffff;
}