<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Clientes - Formulario</title>
</head>
<body>
    <h1>Cadastro de clientes</h1>
    <form action="/cadastroCliente/salvar" method="post">
        <input type="hidden" name="id" id="id" th:value="${cadastro.id}">
        Nome: <input type="text" name="nome" id="nome" th:value="${cadastro.nome}"> <br />
        Sobrenome: <input type="text" name="sobrenome" id="sobrenome" th:value="${cadastro.sobrenome}"> <br />
        <input type="submit" value="Salvar">
    </form>
    <br />
    <a href="/cadastroCliente">Voltar para lista</a>
    <br />
</body>
</html>