<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro de Clientes</h1>
    <h2>Lista de cadastro de clientes</h2>
    <a href="/cadastroCliente/form">Cadastrar novo cliente</a>
    <br/>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Sobrenome</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="cadastroCliente : ${cadastro}">
            <td th:text="${cadastroCliente.id}"></td>
            <td th:text="${cadastroCliente.nome}"></td>
            <td th:text="${cadastroCliente.sobrenome}"></td>
        </tr>
    </tbody>
    </table>
</body>
</html>