<!DOCTYPE html>
<html lang="pt-BR">
    <head th:replace="~{base::head(Lista-cadastro)}"></head>
<body>
    <header th:replace="~{base::cabecalho}"></header>
    <main>
    <h2>Lista de clientes</h2>
    <a class="btn btn-outline-success esquerda" href="/cadastroCliente/form">Cadastrar novo cliente</a>
    <br/>
    <table class="table table-warning table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Acao</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="cadastroCliente : ${cadastro}">
            <td th:text="${cadastroCliente.id}"></td>
            <td th:text="${cadastroCliente.nome}"></td>
            <td th:text="${cadastroCliente.sobrenome}"></td>
            <td>
                <a class="btn btn-outline-warning" th:href="@{'/cadastroCliente/editar/'+${cadastroCliente.id}}">Editar</a>
                <a class="btn btn-outline-danger" th:href="@{'/cadastroCliente/deletar/'+${cadastroCliente.id}}">Deletar</a>
            </td>
        </tr>
    </tbody>
    </table>
</main>
</body>
</html>